.block-header {
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    &_main{
        font-size: 50px;
        font-weight: 700;
        line-height: 56px;
    }
    &_submain{
        font-size: 24px;
        font-weight: 400;
        line-height: 26px;
    }
}


@mixin block_title {
    margin-top: 20px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: center; 
    text-transform: uppercase;
}

@mixin block_subtitle {
    margin-top: 20px;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center; 
}

* {
    font-family: 'Roboto';
}

@import "variables";
@import "general";
@import "media";

